.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

td, th {
  border: 1px solid black;
}

tr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

table {
  border: 1px solid black;
}

button {
  width: 200px;
  height: 30px;
}